* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: aqua;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: red;
  background-color: black;
}



.rasm{
  width: 600px;
}

.box{background-color:aquamarine;
  font-size: 20px;
  font-family: sans-serif;


}



.tabheader__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.main__class {
  background-color: black;
  color: white;
}

.tabheader h3 {
  font-size: 28px;
  margin: 40px 0;
  color: crimson;
}

.tabheader .tabheader_item {
  margin: 25px 0;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 5px;
}
.tabheader .tabheader_item:hover {
  background-color: brown;
  
}

.tabContainers .tabContainer {
  margin: 35px 0;
  font-size: 20px;
  letter-spacing: 2px;
  width: 650px;
  text-align: center;
}

.tabheader .tabheader_item__active {
  border-bottom: 2px solid rgb(255, 252, 252);
  color: crimson;}

