*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #010101;
    img{
        width: 100px;
    }
    a{
        text-decoration: none;
        font-size: 40px;
        font-weight: 800;
        color: blue;
    }
    a:hover{
        color: white;
    }
}
.home{
    img{
        width: 100%;
    }
    .play{
        width: 220px;
        text-decoration: none;
        color:white;
        font-size: 30px;
        background-color: blue;
        padding: 5px;
        border-radius: 10px;
        img{
            width: 60px;
            height: 60px;        
        }
    }
    .play:hover{
        background-color: rgb(44, 86, 236);
    }
}
    .item{
        
        padding: 10px;
        background-color: #E6E6E7;
        border: 1px solid #d5d5d6;
        border-radius: 5px;
    }
    .item:hover{
        background-color: #979799;
        border: 1px solid #727272;
    }     
    .itemtime{
        padding: 10px 30px;
        background-color: #E6E6E7;
        border: 1px solid #d5d5d6;
        border-radius: 5px 0px 0px 5px;
    }
    .time2{
        border-radius: 0px;
    }
    .time3{
        border-radius: 0px 5px 5px 0px;
    }
    .answer{
        border-bottom: 1px solid #d5d5d6;
    }

.next{
    width: 120px;
    text-decoration: none;
    color:white;
    font-size: 20px;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 10px;
    img{
        width: 40px;
        height: 40px;        
    }
}
.next:hover{
    background-color: rgb(44, 86, 236);
    color: white;
}
.logo-div{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 500px !important;
        width: 500px;
    }
}
.result-buton{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
table{
   max-width:1100px;
   margin: 0 auto;
}
tr{
    display: flex;
    // justify-content: space-between;
    .c1{
        width: 10%;
     }    
     .c2{
        width: 40%;
     }
     .c3{
        width: 20%;
     }
     .c4{
        width: 20%;
     }
     .c5{
        width: 10%;
     }
}
.res-table{
    padding: 10px;
    border: 1px solid #979799;
}