html {
  font-size: 16px;
}

body {
  font-size: 1.2em;
}

div {
  font-size: 1.5em;
  /* 28.8 */
}

p {
  font-size: 2rem;
  /* 57,6, 32 */
}

span {
  font-size: 3em;
  /* 172,8, 96 */
  padding: 0.5em;
  /* 86,4, 48 */
}
