@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap");

// Fonts

$Font-Bitter: "Bitter", serif;
$Font-Raleway: "Raleway", sans-serif;

$sm: 560px;
$md: 780px;
$lg: 1020px;
$xl: 1220px;
