header#main-header {
  padding: 2rem 0;
  box-shadow: 0 0 20px grey;
  position: sticky;
  top: 0;
  background: $white;

  .sider {
    display: none;

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background-color: $white;
      box-shadow: 0 0 20px grey;
      transform: translateX(-100%);
      padding: 1rem;
      z-index: 9999;
      transition: transform 0.3s ease-in;

      li {
        padding: 1rem;
        margin-top: 1rem;
        background-color: rgba(black, 0.2);
        transition: all 0.3s ease-in;

        &:hover {
          background-color: rgba(black, 0.4);
          text-indent: 1rem;
        }
      }
    }

    input[type="checkbox"]:checked + .sidebar {
      transform: translateX(0);
    }
  }

  .container.flex {
    justify-content: space-between;
  }

  .flex {
    gap: 2rem;
  }
}
