@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Old Standard TT';
    background-color: #181511;
}
body a {
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 120px;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    .header__list {
        display: flex;
        padding-top:25px ;
        padding-bottom: 27px;
        vertical-align: middle;
    }
    .header__itm {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #FFAE2B;
        padding-right: 42px;
    }
    .header__item {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFAE2B;
        padding: 4px 28px 2px;
    }
    .header__iteam {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 24px;
        text-transform: uppercase;
        color:#ACA592;
        padding: 4px 28px 2px;
    }
    .header__bten {
        display: inline-block;
        padding: 15px 25px;
        margin-top: 12px;
        margin-right: 5px;
        outline: 2px solid #FFAE2B;
        color: #FFAE2B;
    }
  

}
.view {
    background-image: url(../images/IMAGE.png);
    height: 620px;
    background-size: cover; 
    text-align: center;
    padding-top: 150px;
    .view__p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        
        color: #FFAE2B;
    }
    .view__h {
        display: flex;
        justify-content: center;
    }
    .view__h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 80px;
        width: 869px;
        height: 160px;
        text-align: center;
        letter-spacing: 1px;
        color: #FFFFFF;
        // margin-top: 15px;
        // margin-bottom: 35px;
        // margin-left: 286px;
    }
    .view__a {
        display: inline-block;
        background: #FFAE2B;
        border-radius: 0px;
        padding: 14px 24px;
        color: #181511;
    }
}
.template {
    padding: 120px 0px;
     .template__p{
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        /* identical to box height, or 183% */
        
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        
        color: #ACA592;
     }
     .template__h2 {
        padding: 10px 0px 60px 0px;
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        /* identical to box height, or 117% */
        
        text-align: center;
        
        color: #FFAE2B;
     }
     .card{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 20px;
        .card__landing {
            width: 32%;
            border: 2px solid #4B4136;
            padding: 20px;
            // padding-bottom: 20px;
            .card__landing-img {
                width: 100%;
            }
            .card__landing-p {
                color: #FFFFFF;
                text-align: center;
            }
        }
     }
     .design {
        display: flex;
        flex-wrap: wrap;
        .one{
            margin-top: 3px;
        }
        .two{
            margin-top: 6px;
        }
        .design__1 {
            padding: 61px 100px 72px 61px;
            width: 33%;
            outline: 2px solid #4B4136;
            p {
                color: #4B4136;
            }
            h4{
                font-weight: 400;
                font-size: 29px;
                line-height: 40px;
                color: #FFAE2B;
                margin-top: 25px;
                margin-bottom: 10px;
            }
        }
     }
}
.python {
    background-image: url(../images/img.png);
    height: 400px;
    background-size: cover;
}
.ins {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ins__1 {
        width: 20%;
        position: relative;
        text-align: center;
    }
    .top {
        width: 50px;
        position: absolute;
        margin-top: -20px;
        margin-left: -140px;
    }
    .ins__2 {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .top2 {
        position: absolute;
    }
    a {
        width: 150px;
        display: inline-block;
        background: #FFAE2B;
        border-radius: 0px;
        padding: 14px 24px;
        color: #181511;
        height: 50px;
        
    }
    p{
        position: absolute;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        color: #FFAE2B;
    }
}
.foter {
    .foter__1 {
        display: flex;
        justify-content: center;
        padding-top: 125px;
    }
    h2{
        width: 517px;
        height: 140px;
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        color: #FFAE2B;
        margin-bottom: 20px;
        
    }
    p{
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        color: #ACA592;
        margin-bottom: 82px;
    }
    .black {
        width: 30%;
        height: 50px;
        background-color: black;
        margin: 0 auto;
    }
    .yellov {
        width: 30%;
        height: 50px;
        margin:0 auto;
        background-color:#FFAE2B;
    }
    .clic {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 21px;
        font-size: 14px;
        p {
           display: inline-block;
           
       }
       .p1 {
           position: absolute;
           color:#FFAE2B; 
           margin-left: -200px;
           margin-top: -3px;
       }
       .p2 {
        position: absolute;
        color:#FFAE2B; 
        margin-top: 3px;
        }
    }
    .icon {
        display: flex;
        justify-content: center;
        gap:8px;
        a {
            display: inline-block;
        }
        img {
          padding: 14px 19px;
          border: 1px solid #4B4136;
        }
    }
}
.botom {
    padding-top: 42px;
    hr {
        color: #4B4136;
        background-color:#4B4136 ;
    }
    .powered {
        display: flex;
        justify-content: space-between;
        padding: 21px;
    }
    #a {
        color: #ACA592;
    }
    a {
        color: #FFAE2B;
    }
    .right {
        display: flex;
        gap: 10px;
    }
}



// mobilniga moslashtirish
@media screen and (max-width:576px){
    .container {
        padding: 0px 50px;
    }
    .header__item{
        display: none;
    }
    .header__iteam{
        display: none;
    }
    .template {
        .design {
           flex-wrap: wrap;
           gap: 10px;
           .design__1{
              width: 100%;
           }
        }
     }
     .template {
        .card {
            flex-wrap: wrap;
            .card__landing {
                width: 100%;
            }
        }
     }
      .ins {
          flex-direction: column;
          align-items: center;
          gap: 70px;
          .top{
            display: none;
          }
          .ins__1 {
              width: 100%;

          }
          .ins__1 img {
            margin-left: -40px;
          }
          .ins__2 {
            padding: 50px 0px;
          }
      }
      .foter {
        .black {
            width: 50%;
        }
        .yellov {
            width: 50%;
        }
        h2 {
            margin-bottom: 100px;
        }
      }

    
}

@media screen and (max-width:1000px){
    .container {
        padding: 0px 50px;
    }
    .header__iteam{
        display: none;
        height: 200px;
    }
    .view {
        .view__h1 {
            font-size: 30px;
            margin-left: -30px;
        }
    }
    .template {
        .card {
            .card__landing {
                width: 100%;
            }
        }
        .design {
           flex-wrap: wrap;
           gap: 50px;
           .design__1{
              width: 100%;
           }
        }
     }
    .ins {
        justify-content: space-between;
        .ins__1 {
            width: 50%;
        }
    }
  
    
}